name: Terraform AWS Secrets versions Import
on:
  workflow_dispatch:
    inputs:
      aws_access_key:
        description: The AWS access key
        required: true
        type: string
      aws_secret_access_key:
        description: The AWS secret access key
        required: true
        type: string
      aws_default_region:
        description: The AWS default region
        required: false
        type: string
        default: "us-east-2"
      vault_kv_mount:
        description: The Vault kv v2 mount path
        required: false
        type: string
        default: "kv"
      vault_secret_path:
        description: Relative (to kv) path forthe secrets
        required: false
        type: string
        default: "aws_secrets"
      secrets_per_page:
        description: Number of secrets to return per page
        required: false
        type: number
        default: 3
      git_branch_name:
        description: target branch to checkout
        required: false
        type: string
        default: "main"
      git_user_name:
        description: git user name
        required: false
        type: string
        default: "github-actions[bot]"
      git_user_email:
        description: git user email
        required: false
        type: string
        default: "github-actions[bot]@users.noreply.github.com"

jobs:
  get_secrets_info_next_page:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.git_branch_name }}

      - name: Get next page of secrets version
        shell: bash
        env:
          KV_PATH: ${{ github.event.inputs.vault_kv_mount || '' }}
          SECRET_PATH: ${{ github.event.inputs.vault_secret_path || '' }}
        run: |
          echo "::add-mask::${{ github.event.inputs.aws_secret_access_key }}"

          RESULT_ARRAY=()
          NextToken="initial"

          # Iterate through each pahe of AWS secret metadata returned
          while [[ "$NextToken" != "null" ]]; do

            # Extract and pass in the next page token if any
            if [[ "$NextToken" == "initial" ]]; then  
              TOKEN=""
            else
              TOKEN=", \"NextToken\":\"${NextToken}\""
            fi

            # Retrieve the current page ogf AWS secrets metadata
            RESPONSE=$(curl --ssl-no-revoke -X POST https://secretsmanager.${{ github.event.inputs.aws_default_region }}.amazonaws.com \
            --user "${{ github.event.inputs.aws_access_key }}:${{ github.event.inputs.aws_secret_access_key }}" \
            --aws-sigv4 "aws:amz:${{ github.event.inputs.aws_default_region }}:secretsmanager" \
            --header "Content-Type: application/x-amz-json-1.1" \
            --header "X-Amz-Target: secretsmanager.ListSecrets" \
            --data "{\"IncludePlannedDeletion\": false, \"MaxResults\": ${{ github.event.inputs.secrets_per_page }} ${TOKEN} }")

            # Extract an array of secret metadata objects with each having fields Name, ARN and version
            FOUND_VERSIONS=$(echo $RESPONSE | jq '.SecretList | map({Name, ARN, version: (.SecretVersionsToStages | to_entries[] | select(.value | index("AWSCURRENT") != null) | .key)})')  
            mapfile -t JSON_OBJECTS < <(echo "$FOUND_VERSIONS" | jq -r -c '.[]')
            RESULT_ARRAY+=("${JSON_OBJECTS[@]}")

            # Pass in the next token if any
            NextToken=$(echo $RESPONSE | jq -r '.NextToken' )
          done
          
          # Create the target terraform configuration files
          echo -n "" > $RUNNER_TEMP/imported_secrets.tf
          echo -n "" > $RUNNER_TEMP/imported_secrets_config.tf
          echo -n "" > $RUNNER_TEMP/imported_secrets_config.auto.tfvars

          # Create terraform import related resources for each secret found
          IMPORTED_SECRET_NAMES=()
          for item in "${RESULT_ARRAY[@]}"; do

          name=$(echo $item | jq -r '.Name')
          arn=$(echo $item | jq -r '.ARN')
          version=$(echo $item | jq -r '.version')

          # Keep track of all the secret names added
          IMPORTED_SECRET_NAMES+=($name)

          # Create the terraform import blocks for each AWS secret to import
          # and output it to the terraform import config file
  
          # echo each line as it does not correctly represent multiline strings
          echo "import {"                                                                   >> $RUNNER_TEMP/imported_secrets.tf
          echo "  to = aws_secretsmanager_secret_version.$name"                             >> $RUNNER_TEMP/imported_secrets.tf
          echo "  identity = {"                                                             >> $RUNNER_TEMP/imported_secrets.tf
          echo "    secret_id  = \"${arn}\""                                                >> $RUNNER_TEMP/imported_secrets.tf
          echo "    version_id = \"${version}\""                                            >> $RUNNER_TEMP/imported_secrets.tf
          echo "  }"                                                                        >> $RUNNER_TEMP/imported_secrets.tf
          echo "}"                                                                          >> $RUNNER_TEMP/imported_secrets.tf
          echo ""                                                                           >> $RUNNER_TEMP/imported_secrets.tf


          # Determine the current Vault secret name path (relative to kv)
          if [ -z "${SECRET_PATH:-}" ]; then
            NAME="$SECRET_PATH/$name"
          else
            NAME=$name
          fi

          # Create the ephemeral and AWS resource related to the secret to import
          # echo each line as it does not correctly represent multiline strings          
          echo "ephemeral \"vault_kv_secret_v2\" \"${name}\" {"                             >> $RUNNER_TEMP/imported_secrets_config.tf
          echo "  mount = var.VAULT_KV_V2_MOUNT"                                            >> $RUNNER_TEMP/imported_secrets_config.tf
          echo "  name = \"\${var.VAULT_SECRETS_PATH}/${NAME}\""                            >> $RUNNER_TEMP/imported_secrets_config.tf
          echo "} "                                                                         >> $RUNNER_TEMP/imported_secrets_config.tf
          echo ""                                                                           >> $RUNNER_TEMP/imported_secrets_config.tf
          echo "resource \"aws_secretsmanager_secret_version\" \"${name}\" {"               >> $RUNNER_TEMP/imported_secrets_config.tf
          echo "  secret_id  = \"${arn}\""                                                  >> $RUNNER_TEMP/imported_secrets_config.tf
          echo "  secret_string_wo = jsonencode(ephemeral.vault_kv_secret_v2.${name}.data)" >> $RUNNER_TEMP/imported_secrets_config.tf
          echo "  secret_string_wo_version = var.VAULT_SECRETS_VERSION[\"${name}\"]"        >> $RUNNER_TEMP/imported_secrets_config.tf
          echo "} "                                                                         >> $RUNNER_TEMP/imported_secrets_config.tf
          echo ""                                                                           >> $RUNNER_TEMP/imported_secrets_config.tf

          done


          # TODO in original script
          # ===============================
          # variable "IMPORTED_SECRET_NAMES_LIST" {
          #  description = "Set of imported secret names"
          #  type = set(string)
          #  default = []
          # }
          # ===============================

          # Initialize a variable with all the secret names that were imported
          # Used to determine which secrets are manually configured from import
          echo "IMPORTED_SECRET_NAMES_LIST = ["                                             >> $RUNNER_TEMP/imported_secrets_config.auto.tfvars
          for i in "${!IMPORTED_SECRET_NAMES[@]}"; do
            if [[ ${#IMPORTED_SECRET_NAMES[@]} -gt 1 && $i -gt 0 ]]; then
              echo -n ", "                                                                  >> $RUNNER_TEMP/imported_secrets_config.auto.tfvars
            fi
            echo "\"${IMPORTED_SECRET_NAMES[$i]}\""                                         >> $RUNNER_TEMP/imported_secrets_config.auto.tfvars
          done
          echo "]"                                                                          >> $RUNNER_TEMP/imported_secrets_config.auto.tfvars
          echo ""                                                                           >> $RUNNER_TEMP/imported_secrets_config.auto.tfvars

      - name: Move to repo root and commit
        run: |
          git config user.name ${{ github.event.inputs.git_user_name }}
          git config user.email ${{ github.event.inputs.git_user_email }}"
          mv $RUNNER_TEMP/imported_secrets.tf .
          mv $RUNNER_TEMP/imported_secrets_config.tf .
          mv $RUNNER_TEMP/imported_secrets_config.auto.tfvars .
          git add imported_secrets.tf          
          git add imported_secrets_config.tf
          git add imported_secrets_config.auto.tfvars
          git commit -m "Add import config files [skip ci]" || exit 0
          git push


