name: Terraform AWS Secrets versions Import
on:
  workflow_dispatch:
    inputs:
      aws_access_key:
        description: The AWS access key
        required: true
        type: string
      aws_secret_access_key:
        description: The AWS secret access key
        required: true
        type: string

jobs:
  get_secrets_info_next_page:
    runs-on: ubuntu-latest
    steps:
      - name: Get next page of secrets version 
        shell: bash
        run: |
          NextToken="initial"
          while [ -n "$NextToken" ]; do
            echo "Looping once"
            NextToken=""
          done


