name: Terraform AWS Secrets versions Import
on:
  workflow_dispatch:
    inputs:
      aws_access_key:
        description: The AWS access key
        required: true
        type: string
      aws_secret_access_key:
        description: The AWS secret access key
        required: true
        type: string
      aws_default_region:
        description: The AWS default region
        required: false
        type: string
        default: "us-east-2"

jobs:
  get_secrets_info_next_page:
    runs-on: ubuntu-latest
    steps:
      - name: Get next page of secrets version
        shell: bash
        run: |
          echo "::add-mask::${{ github.event.inputs.aws_secret_access_key }}"
          RESULT_JSON="{}"
          NextToken="initial"
          while [ -n "$NextToken" ]; do
            RESPONSE=$(curl --ssl-no-revoke -X POST https://secretsmanager.${{ github.event.inputs.aws_default_region }}.amazonaws.com \
            --user "${{ github.event.inputs.aws_access_key }}:${{ github.event.inputs.aws_secret_access_key }}" --aws-sigv4 "aws:amz:${{ github.event.inputs.aws_default_region }}:secretsmanager" \
            --header "Content-Type: application/x-amz-json-1.1" \
            --header "X-Amz-Target: secretsmanager.ListSecrets" \
            --data '{"IncludePlannedDeletion": true, "MaxResults": 20}')

            echo "RESPONSE=$RESPONSE" >> $GITHUB_STEP_SUMMARY

            SECRETS_VERSION_LIST=$(echo $RESPONSE | jq '[.SecretList[] | {ARN: .ARN, version: (.SecretVersionsToStages | to_entries[] | select(.value | index("AWSCURRENT") != null) | .key)}]' )
            #SECRETS_VERSION_LIST=$(echo $RESPONSE | jq '.SecretList[] | {ARN: .ARN, version: (.SecretVersionsToStages | to_entries[] | select(.value | index("AWSCURRENT") != null) | .key)}' )
            NextToken=$(echo $RESPONSE | jq -r '.NextToken' )

            echo "SECRETS_VERSION_LIST length: ${#SECRETS_VERSION_LIST[@]}" >> $GITHUB_STEP_SUMMARY

            echo "SECRETS_VERSION_LIST=$SECRETS_VERSION_LIST" >> $GITHUB_STEP_SUMMARY
            echo "NextToken=$NextToken" >> $GITHUB_STEP_SUMMARY

            if [ -n "$NextToken" ]; then
               echo "The NextToken is NOT empty"
            else
              echo "The NextToken is null or empty"
            fi

            break
          done

          
          

          # | jq '.SecretList[] | {ARN: .ARN, version: (.SecretVersionsToStages | to_entries[] | select(.value | index("AWSCURRENT") != null) | .key)}' 
          # | jq -r '.NextToken'
        

        # RESPONSE={"SecretList":[{"ARN":"arn:aws:secretsmanager:us-east-2:386827457018:secret:application3-2TCryq","CreatedDate":1.765204189882E9,"LastAccessedDate":1.7654112E9,"LastChangedDate":1.765204190626E9,"Name":"application3","SecretVersionsToStages":{"terraform-20251208142951507000000004":["AWSCURRENT"]}},{"ARN":"arn:aws:secretsmanager:us-east-2:386827457018:secret:application1-uycBtf","CreatedDate":1.76520418989E9,"LastAccessedDate":1.7654112E9,"LastChangedDate":1.765469571824E9,"Name":"application1","SecretVersionsToStages":{"terraform-20251208185321718300000001":["AWSPREVIOUS"],"terraform-20251211161251806100000001":["AWSCURRENT"]}},{"ARN":"arn:aws:secretsmanager:us-east-2:386827457018:secret:application2-BTq8co","CreatedDate":1.76520418989E9,"LastAccessedDate":1.7654112E9,"LastChangedDate":1.765224303094E9,"Name":"application2","SecretVersionsToStages":{"terraform-20251208195532931000000001":["AWSPREVIOUS"],"terraform-20251208200504040700000001":["AWSCURRENT"]}},{"ARN":"arn:aws:secretsmanager:us-east-2:386827457018:secret:deleteapplication2-UJKPCU","CreatedDate":1.76546717228E9,"DeletedDate":1.765468158927E9,"LastAccessedDate":1.7654112E9,"LastChangedDate":1.765468158934E9,"Name":"deleteapplication2","SecretVersionsToStages":{"terraform-20251211153252988900000006":["AWSCURRENT"]}},{"ARN":"arn:aws:secretsmanager:us-east-2:386827457018:secret:deletesecret3-AFeSyT","CreatedDate":1.765467172292E9,"DeletedDate":1.765468158916E9,"LastAccessedDate":1.7654112E9,"LastChangedDate":1.765468158925E9,"Name":"deletesecret3","SecretVersionsToStages":{"terraform-20251211153252985900000004":["AWSCURRENT"]}},{"ARN":"arn:aws:secretsmanager:us-east-2:386827457018:secret:deleteapplication1-ukZnQI","CreatedDate":1.765467172296E9,"DeletedDate":1.765468158933E9,"LastAccessedDate":1.7654112E9,"LastChangedDate":1.76546815894E9,"Name":"deleteapplication1","SecretVersionsToStages":{"terraform-20251211153252988200000005":["AWSCURRENT"]}},{"ARN":"arn:aws:secretsmanager:us-east-2:386827457018:secret:ForDeletion-45bCaP","CreatedDate":1.765469933699E9,"DeletedDate":1.765470115048E9,"LastAccessedDate":1.7654112E9,"LastChangedDate":1.765470115054E9,"Name":"ForDeletion","SecretVersionsToStages":{"terraform-20251211161854413700000002":["AWSCURRENT"]}}]}
