name: Terraform AWS Secrets versions Import
on:
  workflow_dispatch:
    inputs:
      aws_access_key:
        description: The AWS access key
        required: true
        type: string
      aws_secret_access_key:
        description: The AWS secret access key
        required: true
        type: string
      aws_default_region:
        description: The AWS default region
        required: false
        type: string
        default: "us-east-2"

jobs:
  get_secrets_info_next_page:
    runs-on: ubuntu-latest
    steps:
      - name: Get next page of secrets version 
        shell: bash
        run: |
          NextToken="initial"
          while [ -n "$NextToken" ]; do
            RESPONSE=$(curl --ssl-no-revoke -X POST https://secretsmanager.${AWS_DEFAULT_REGION}.amazonaws.com \
            --user "$AWS_KEY:$AWS_SECRET_KEY" --aws-sigv4 "aws:amz:${AWS_DEFAULT_REGION}:secretsmanager" \
            --header "Content-Type: application/x-amz-json-1.1" \
            --header "X-Amz-Target: secretsmanager.ListSecrets" \
            --data '{"IncludePlannedDeletion": true, "MaxResults": 10}')
            echo "RESPONSE=$RESPONSE" >> $GITHUB_STEP_SUMMARY
            NextToken=""
          done

          # | jq '.SecretList[] | {ARN: .ARN, version: (.SecretVersionsToStages | to_entries[] | select(.value | index("AWSCURRENT") != null) | .key)}' 
          # | jq -r '.NextToken'
        env:
          AWS_KEY: ${{ github.event.inputs.aws_access_key }}
          AWS_SECRET_KEY: ${{ github.event.inputs.aws_secret_access_key }}
          AWS_DEFAULT_REGION: ${{ github.event.inputs.aws_default_region }}


