name: Terraform AWS Secrets versions Import
on:
  workflow_dispatch:
    inputs:
      aws_access_key:
        description: The AWS access key
        required: true
        type: string
      aws_secret_access_key:
        description: The AWS secret access key
        required: true
        type: string
      aws_default_region:
        description: The AWS default region
        required: false
        type: string
        default: "us-east-2"
      vault_kv_mount:
        description: The Vault kv v2 mount path
        required: false
        type: string
        default: "kv"
      vault_secret_path:
        description: Relative (to kv) path forthe secrets
        required: false
        type: string
        default: "aws_secrets"
      git_branch_name:
        description: target branch to checkout
        required: false
        type: string
        default: "main"
      git_user_name:
        description: git user name
        required: false
        type: string
        default: "github-actions[bot]"
      git_user_email:
        description: git user email
        required: false
        type: string
        default: "github-actions[bot]@users.noreply.github.com"

jobs:
  get_secrets_info_next_page:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.git_branch_name }}

      - name: Get next page of secrets version
        shell: bash
        env:
          KV_PATH: ${{ github.event.inputs.vault_kv_mount || '' }}
          SECRET_PATH: ${{ github.event.inputs.vault_secret_path || '' }}
        run: |
          echo "::add-mask::${{ github.event.inputs.aws_secret_access_key }}"

          RESULT_ARRAY=()
          NextToken="initial"

          while [[ "$NextToken" != "null" ]]; do
            if [[ "$NextToken" == "initial" ]]; then  
              TOKEN=""
            else
              TOKEN=", \"NextToken\":\"${NextToken}\""
            fi

            RESPONSE=$(curl --ssl-no-revoke -X POST https://secretsmanager.${{ github.event.inputs.aws_default_region }}.amazonaws.com \
            --user "${{ github.event.inputs.aws_access_key }}:${{ github.event.inputs.aws_secret_access_key }}" --aws-sigv4 "aws:amz:${{ github.event.inputs.aws_default_region }}:secretsmanager" \
            --header "Content-Type: application/x-amz-json-1.1" \
            --header "X-Amz-Target: secretsmanager.ListSecrets" \
            --data "{\"IncludePlannedDeletion\": false, \"MaxResults\": 3 ${TOKEN} }")

            FOUND_VERSIONS=$(echo $RESPONSE | jq '.SecretList | map({Name, ARN, version: (.SecretVersionsToStages | to_entries[] | select(.value | index("AWSCURRENT") != null) | .key)})')  
            mapfile -t JSON_OBJECTS < <(echo "$FOUND_VERSIONS" | jq -r -c '.[]')
            RESULT_ARRAY+=("${JSON_OBJECTS[@]}")

            NextToken=$(echo $RESPONSE | jq -r '.NextToken' )
          done
          
          # Create the target terraform configuration file
          echo -n "TODO" > $RUNNER_TEMP/secrets_import.tf
          echo -n "TODO" > $RUNNER_TEMP/imported_secrets_config.tf

          # Create terraform import related resources for each secrets found
          IMPORTED_SECRET_NAMES=()
          for item in "${RESULT_ARRAY[@]}"; do
              name=$(echo $item | jq -r '.Name')
              arn=$(echo $item | jq -r '.ARN')
              version=$(echo $item | jq -r '.version')

              # Keep track of all the secret names added
              IMPORTED_SECRET_NAMES+=($name)

              # Create the terraform import block for the current secret
              # and output it to the terraform import config file
              item_import_block=$(cat <<-EOF
              import {
                to = aws_secretsmanager_secret_version.$name
                identity = {
                  secret_id  = $arn
                  version_id = $version
                }
              }

              EOF
              )
              echo $item_import_block >> $RUNNER_TEMP/secrets_import.tf


              # # Create vault secret's AWS terraform config      
              # if [ -z "${SECRET_PATH:-}" ]; then
              #   NAME="$SECRET_PATH/$name"
              # else
              #   NAME=$name
              # fi

              # item_import_block=$(cat <<EOF
              # ephemeral "vault_kv_secret_v2" "$name" {
              #   mount = $KV_PATH
              #   name = $NAME
              # }

              # resource "aws_secretsmanager_secret_version" "$name" {
              #   secret_id  = $arn
              #   secret_string_wo = jsonencode(ephemeral.vault_kv_secret_v2.${name}.data)
              #   secret_string_wo_version = $version
              # }

              # EOF
              # )
              # echo $item_import_block >> $RUNNER_TEMP/imported_secrets_config.tf

              # Add variable with name of all imported secrets
              # TODO - 

          done

      # - name: Move to repo root and commit
      #   run: |
      #     git config user.name ${{ github.event.inputs.git_user_name }}"
      #     git config user.email ${{ github.event.inputs.git_user_email }}"
      #     mv $RUNNER_TEMP/secrets_import.tf .
      #     mv $RUNNER_TEMP/imported_secrets_config.tf .
      #     git add secrets_import.tf
      #     git add imported_secrets_config.tf
      #     git commit -m "Add import config files [skip ci]" || exit 0
      #     git push

