name: Terraform AWS Secrets versions Import
on:
  workflow_dispatch:
    inputs:
      aws_access_key:
        description: The AWS access key
        required: true
        type: string
      aws_secret_access_key:
        description: The AWS secret access key
        required: true
        type: string
      aws_default_region:
        description: The AWS default region
        required: false
        type: string
        default: "us-east-2"

jobs:
  get_secrets_info_next_page:
    runs-on: ubuntu-latest
    steps:
      - name: Get next page of secrets version
        shell: bash
        run: |
          echo "::add-mask::${{ github.event.inputs.aws_secret_access_key }}"
          RESULT_JSON="{}"
          NextToken="initial"
          while [ -n "$NextToken" ]; do
            RESPONSE=$(curl --ssl-no-revoke -X POST https://secretsmanager.${{ github.event.inputs.aws_default_region }}.amazonaws.com \
            --user "${{ github.event.inputs.aws_access_key }}:${{ github.event.inputs.aws_secret_access_key }}" --aws-sigv4 "aws:amz:${{ github.event.inputs.aws_default_region }}:secretsmanager" \
            --header "Content-Type: application/x-amz-json-1.1" \
            --header "X-Amz-Target: secretsmanager.ListSecrets" \
            --data '{"IncludePlannedDeletion": true, "MaxResults": 20}')

            NextToken=$(echo $RESPONSE | jq -r '.NextToken' )
            FOUND_VERSIONS=$(echo $RESPONSE | jq '.SecretList | map({key: .ARN, value: (.SecretVersionsToStages | to_entries | map(select(.value[] == "AWSCURRENT"))[0].key)}) | from_entries')

            RESULT_JSON=$(jq -n --argjson obj1 "$RESULT_JSON" --argjson obj2 "$FOUND_VERSIONS" '$obj1 * $obj2')

            
            echo "RESULT_JSON=$RESULT_JSON" >> $GITHUB_STEP_SUMMARY

            break
          done
